<h1 class="mat-display-1 centered-header">Login</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" />
    <mat-error *ngIf="form.get('email')?.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="form.get('email')?.hasError('email')">Enter a valid email</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error *ngIf="form.get('password')?.hasError('required')">Password is required</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Login</button>
  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
</form>
